<settings>
  <proxies>
   <proxy>
      <id>proxy-id</id>
      <active>true</active>
      <protocol>http</protocol>
      <host>proxy-server</host>
      <port>proxy-port</port>
      <username></username>
      <password></password>
      <nonProxyHosts></nonProxyHosts>
    </proxy>
  </proxies>
</settings>